.container {
    max-width: 800px;
    margin: 0 auto;
}

.box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-title {
    text-align: center;
    margin-bottom: 30px;
}

.contact-content {
    text-align: center;
}

.contact-text {
    margin-bottom: 30px;
}

.contact-images {
    display: flex;
    justify-content: space-around;
}

.image-box {
    text-align: center;
}

.contact-image {
    width: 200px;
    /* Set the width to 200px */
    height: 300px;
    /* Set the height to 300px */
    object-fit: cover;
    border-radius: 10px;
    /* Change this to adjust the roundness of the corners */
    margin-bottom: 10px;
}

.image-text {
    font-weight: bold;
    margin-bottom: 5px;
}

.email-text {
    font-style: italic;
    color: #666;
}