.container {
    padding: 20px;
}

.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.contact-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.box {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.contact-content {
    display: flex;
    flex-direction: column;
}

.contact-text {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 20px;
}

.contact-images {
    display: flex;
    justify-content: space-between;
}

.image-box {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    flex: 1;
}

.contact-image {
    width: 200px;
    /* Set a fixed width */
    height: 300px;
    /* Set a fixed height */
    object-fit: cover;
    /* Ensure images cover the area without distorting */
    border-radius: 5px;
}

.image-text {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #343a40;
}