.container {
  padding: 20px;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  /* Ensure the cards are full width within their columns */
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.5rem;
  color: #343a40;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.row .col-lg-5,
.row .col-md-6 {
  margin-bottom: 20px;
  flex: 0 0 auto;
  max-width: 100%;
  /* Increase the width of the columns */
}

.csgo-logo {
  height: 100px;
  width: 250px;
  object-fit: cover;
  margin-right: 15px;
}

.team-logo {
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.player-list {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
}

.player-list li {
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  .row .col-lg-5 {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .row .col-md-6 {
    max-width: 100%;
  }
}